<h3>{{viewTitle}}</h3>

<form action="/item" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{item._id}}">
    <div class="form-group">
        <label>Item</label>
        <input type="text" class="form-control" name="item" placeholder="Classic Glazed" value="{{item.item}}">
        <div class="text-danger">
            {{item.itemError}}</div>
    </div>
    <div class="form-group">
        <label>Price</label>
        <input type="text" class="form-control" name="price" placeholder="3.00" value="{{item.price}}">
      
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Category</label>
            <select class="form-control" name="category">
                 <option value="Donuts">Donuts</option>
                 <option value="Hot Chocolate">Hot Chocolate</option>
                 <option value="Coffees">Coffees</option>
             </select>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/item/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>
